{% extends 'blog/base.html' %}

{% block title %} List {% endblock %}

{% block content %}

    <div class="card">
      <div class="card-image">

      </div><!--/card-image-->
      <div class="card-content">
        <span class="card-title">Je suis la page List (blog)</span>

        <table class="striped">
          <thead>
            <tr>
              <th>Titre</th>
              <th>Category</th>
              <th>Status</th>
              {% if user.is_authenticated %}
              <th>Action</th>
              {% endif %}
            </tr>
          </thead>

          <tbody>
            {% for post in posts %}
            <tr>
              <td><a href="{% url 'blog-detail' post.pk %}">{{ post.blog_title }}</a></td>
              <td><a href="#!">{% if post.blog_category %}{{ post.blog_category }}{% endif %}</a></td>
              <td>{{ post.blog_status | capfirst }}</td>
              {% if user.is_authenticated %}
              <td><a href="{% url 'blog-update' post.pk %}">Edit</a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if is_paginated %}
        <ul class="pagination justify-content-center">
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="waves-effect active"><a href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div><!--/card-content-->
      <div class="card-action">

      </div><!--/card-action-->
    </div><!--/card-->

{% endblock content %}
